<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doctors</title>
    <link rel="stylesheet" href="css/dropdown.css">
</head>

<body>
    <div class="wrapper">
        <ul>
            <li>Doctors
                <ul>
                    <li><a href="regiondoctors">In my region</a></li>
                    <li><a href="alldoctors">All Doctors</a></li>
                </ul>
            </li>
            
        </ul>
    </div>

</body>

</html>