<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="https://www.kindpng.com/picc/m/164-1649608_pregnant-woman-icon-pregnant-woman-emoji-hd-png.png">
    <title>We Care For U</title>
</head>

<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="img/logo.jpg" alt="logo"></div>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li class="dropdown"><a href="#services ">Services</a>
                <div class="dropdown-content">
                    <a href="/nanny">Get Nanny!</a>
                    <a href="/doctors">Get Doctor!</a>
                    <a href="/Hospital">Get Hospital!</a>
                </div>
            </li>
            <li><a href="/contact">Contact Us</a></li>
            <!-- <li><a href="/login_Register">Login/Register</a></li> -->
            <li><a href="/location">Map</a></li>
            <li><a href="/login_Register">Logout</a></li>
        </ul>
        <div class="rightNav v-class-resp">
            <input type="text" name="search" id="search">   
            <button class="btn btn-sm" >Search</button>
            
        </div>
        
    </nav>

    <section class="background firstSection" id ="home">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">Helping is our main motto</p>
                <p class="text-small">Pregnancy and birth can be a very special time in the life of a woman. 
                    The nine months of pregnancy, as well as labor and delivery, are filled with many physical and psychological changes,
                     as well as changes in lifestyle. Each change poses a challenge 
                     that can be met successfully when the woman shares her feelings and experiences with a partner 
                     or other supportive person and with her physician, midwife, nurse, and childbirth educator.
                      The importance of health care throughout pregnancy is emphasized, 
                      because proper health care increases the likelihood of a healthy pregnancy, a healthy baby, 
                      and satisfied parents. 
                    </p>
                <div class="button">
                  <button class="btn"onclick="location.href='https://youtu.be/XOySX6sE_8s'">Watch</button>
                  <button class="btn"onclick="location.href='https://www.who.int/topics/maternal_health/bulletin/en/' ">Learn</button>   
                </div>
            </div>
            <div class="secondHalf">
                <img src="img/Mother.jpg" alt="Mother Image">
            </div>
        </div>
    </section>

    <section class="section" id="about">
        <div class="paras">
        <p class="sectionTag text-big">Mother and Child Relation</p>
        <p class="sectionSubTag text-small">A maternal bond is the relationship between a mother and her child. 
            While typically associated with pregnancy and childbirth,
             a maternal bond may also develop in cases where the child is unrelated, such as an adoption.
            Both physical and emotional factors influence the mother-child bonding process.
             In separation anxiety disorder a child becomes fearful and nervous when away from a loved one, 
             usually a parent or other caregiver. New mothers do not always experience instant love toward their child.
              Instead, the bond can strengthen over time. Bonds can take hours, days, weeks, or months to develop.</p>
            </div>
        <div class="thumbnail">
            <img src="https://source.unsplash.com/900x900/?mother,child" alt="mother image" class="imgfluid">
        </div>
    </section>
<hr>
    <section class="section section-Left">
        <div class="paras">
        <p class="sectionTag text-big">Role of Hospital </p>
        <p class="sectionSubTag text-small">A maternity hospital specializes in caring for women during pregnancy and childbirth.
             It also provides care for newborn infants, and may act as a centre for clinical training in midwifery and obstetrics.
              Formerly known as lying-in hospitals,
             most of them, like cottage hospitals, have been absorbed into larger general hospitals,
              where they operate as the maternity department.</p>
            </div>
        <div class="thumbnail">
            <img src="https://source.unsplash.com/900x900/?hospital,baby" alt="mother image" class="imgfluid">
        </div>
    </section>
<hr>

    <section class="section">
        <div class="paras">
        <p class="sectionTag text-big">What a lady needs</p>
        <p class="sectionSubTag text-small">For any pregnancy, the maternity hospital plays a vital part for every woman.
             The woman needs more care and precaution. And that’s why the role of maternity hospital is more important.
              There are many maternity hospitals in India that offer some of the best post and prenatal care.
             They deal with every pregnancy with the the best technology and techniques.
              They offer world-class amenities and facilities which is very important during pregnancy.</p>
            </div>
        <div class="thumbnail">
            <img src="https://source.unsplash.com/900x900/?mother,hospital" alt="mother image" class="imgfluid">
        </div>
    </section>
<hr>
 <script src="./resp.js">
    
</script> 
</body>

</html>