<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login / Sign Up Form</title>
    <link rel="shortcut icon" href="https://www.pngfind.com/pngs/m/95-953441_big-image-computer-favicon-ico-hd-png-download.png">
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    
    <div class="container">
        <h1 class="form__title">Login</h1>
        <form method="post" action="/login/get">
            <!-- <h1 class="form__title">Login</h1>
            <div class="form_message form_message--error"></div>
            <div class="form__input-group">
                <input type="text" class="form__input" autofocus placeholder="Username or email">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit">Continue</button> -->
            <input type="text" id="loginUsername" class="form__input" autofocus placeholder="Username" name="username">
            <br>
            <input type="password" class="form__input" autofocus placeholder="Password" name="password">
            <span id="errorMessage" name = "error"></span>
            <br><br>
            <button class="form__button" type="submit">Continue</button> 
            <p class="form__text">
                <a href="#" class="form__link">Forgot your password?</a>
            </p>
            <p class="form__text">
                <!-- <a class="form__link" href="/register" id="linkCreateAccount">Don't have an account? Create account</a> -->
                
                <a href="/register">Don't have an account? Create account</a>
            
            </p>
        </form>
        <!-- <form method="post" action="/username/add">
            <label>username</label><br>
            <input type="text" name="username">
            <br>
            <label>emailid</label><br>
            <input type="text" name="emailid">
            <br>
            <label>password</label><br>
            <input type="text" name="password">
            <br><br>
            <input type="submit" value="submit">
        </form> -->
    </div>
    <script src="./main.js">
    
    </script>
</body>