<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/dropdown.css">
</head>

<body>
    <div class="wrapper">
        <ul>
            <li>Rating
                <ul>
                    <li><a href="/rating5">Rating 5</a></li>
                    <li><a href="/rating4">Rating 4+</a></li>
                    <li><a href="/rating3">Rating 3+</a></li>
                </ul>
            </li>
            
        </ul>
    </div>

</body>

</html>