<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login / Sign Up Form</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    
    <div class="container">
       
        <form method="post" action="/username/add">
            <h1 class="form__title">Create Account</h1>
            
            <input type="text" id="signupUsername" class="form__input" autofocus placeholder="Username" name="username">
            <br>
            
            <input type="text" class="form__input" autofocus placeholder="Email Address" name="emailid">
            <br>
            
            <input type="password" class="form__input" autofocus placeholder="Password" name="password" >
            <br>    
           
            <button class="form__button" type="submit">Continue</button>
        </form>
    </div>
    <script src="./main.js"></script>
</body> 
            <br><br>